/* .containerHome {
  max-width: 320px;
  margin: 0 auto;
  padding: 20px;
}

@media screen and (min-width: 768px) {
  .containerHome {
    max-width: 768px;
    padding: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .containerHome {
    max-width: 1440px;
  }
} */
