.nannieCardContainer {
  padding: 24px;
  display: flex;
  width: 100%;
  gap: 24px;
  border-radius: 24px;
  background-color: var(--primary-color-gray-light);
}

.fadeOut {
  opacity: 0;
  transition: opacity var(--primary-transition);
}

.nannieAvatarWrapper {
  border: 2px solid var(--accent-color-pink);
  border-radius: 30px;
  width: 120px;
  height: 120px;
  padding: 12px;
  background-color: transparent;
  position: relative;
}

.nannieAvatarWrapper::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 12px;
  right: 12px;
  background-color: var(--accent-color-green);
  z-index: 9999;
}

.nannieAvatarWrapper::after {
  content: '';
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  top: 10px;
  right: 10px;
  background-color: var(--primary-color-gray-light);
  z-index: 999;
}

.nannieAvatar {
  border-radius: 15px;
}

.nannieInfo {
  width: 992px;
}

.nannieTopInfoWrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 24px;
}

.nannieTitleAndNameWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.nannieTitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #8a8a89;
}

.nannieName {
  font-weight: 500;
  font-size: 24px;
  line-height: 1;
  color: var(--primary-color-black);
}

.infoAndFavBtnWrapper {
  display: flex;
  gap: 48px;
}

.infoWrapper {
  display: flex;
  gap: 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--primary-color-black);
}

.infoItemWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
}

.infoItemWrapper:not(:last-child)::after {
  position: absolute;
  content: '';
  width: 2px;
  height: 16px;
  background-color: rgba(17, 16, 28, 0.2);
  right: -16px;
}

.locationIcon {
  fill: transparent;
  stroke: var(--primary-color-black);
}

.priceText {
  color: var(--accent-color-green);
}

.infoList {
  margin-bottom: 24px;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.infoListItem {
  border-radius: 24px;
  padding: 8px 16px;
  background-color: var(--primary-color-gray-dark);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  gap: 4px;
}

.infoListItemTitle {
  color: #8a8a89;
}

.infoListItemInfo {
  color: var(--primary-color-black);
}

.nannieAge {
  text-decoration: underline;
}

.nannieDescription {
  color: var(--primary-color-gray);
}
