.container {
  max-width: 1440px;
  margin: 0 auto;
}

.containerHome {
  padding: 32px;
}

.containerNannies {
  padding: 0 128px;
  background-color: var(--primary-color-gray-dark);
}

.layoutWrapperHome {
  position: relative;
  background-color: var(--primary-color-blue);
  border-radius: 30px;
  max-width: 1376px;
}

.layoutWrapperNannies {
  background-color: var(--primary-color-gray-dark);
}
