.button {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.01em;
  color: var(--primary-color-gray-light);
  outline: transparent;
  border: transparent;
  background-color: transparent;
  border-radius: 30px;
  transition: color var(--primary-transition),
    background-color var(--primary-transition),
    border-color var(--primary-transition);
}

.logInBtn,
.logOutBtn {
  border: 1px solid rgba(251, 251, 251, 0.4);
  padding: 14px 39px;
}

.logInBtn:hover,
.logInBtn:focus,
.logOutBtn:hover,
.logOutBtn:focus {
  color: var(--primary-color-blue);
  background-color: var(--primary-color-gray-light);
}

.registrationBtn,
.loadMoreBtn {
  background-color: var(--primary-color-blue);
  padding: 14px 40px;
  transition: color var(--primary-transition),
    background-color var(--primary-transition);
}

.loadMoreBtn {
  display: block;
  margin: 0 auto;
}

.registrationBtn:hover,
.registrationBtn:focus,
.loadMoreBtn:hover,
.loadMoreBtn:focus {
  color: var(--primary-color-blue);
  background-color: var(--primary-color-gray-light);
}

.readMoreBtn {
  color: var(--primary-color-black);
  text-decoration: underline;
  padding: 0;
  margin-top: 14px;
}

.makeAppointmentBtn {
  background-color: var(--primary-color-blue);
  padding: 14px 28px;
}

.favoritesBtn {
  width: 26px;
  height: 26px;
  padding: 0;
}

.signUpLogInModalSendBtn {
  min-width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: var(--primary-color-blue);
}

.closeModalBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  stroke: var(--primary-color-black);
}
