.navList {
  display: flex;
  gap: 40px;
  letter-spacing: -0.01em;
  color: var(--primary-color-gray-light);
}

.link {
  position: relative;
}

.active::after {
  position: absolute;
  display: block;
  content: '';
  background-color: var(--primary-color-white);
  border-radius: 50%;
  width: 8px;
  height: 8px;
  bottom: -14px;
  left: 50%;
  transform: translateX(-50%);
}
