.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
  top: 0px;
  left: 0px;
  right: 0px;
}

.headerHome {
  position: absolute;
  background-color: transparent;
  border-bottom: 1px solid rgba(251, 251, 251, 0.4);
  max-width: 1376px;
  padding: 20px 96px;
}

.headerNannies {
  position: fixed;
  background-color: var(--primary-color-blue);
  max-width: 1440px;
  margin: 0 auto;
  padding: 30px 128px;
}

.logo {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: var(--primary-color-gray-light);
}

.headerNavAndMenuWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 92px;
}

.headerNavAndMenuWrapperNannies {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 217px;
}
