.filtersForm {
  padding-top: 152px;
  padding-bottom: 32px;
}

.filtersFormTitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: #8a8a89;
  margin-bottom: 8px;
}

.filtersFormInput {
  border-radius: 14px;
  padding: 16px 157px 16px 18px;
  width: 226px;
  height: 48px;
  background-color: var(--primary-color-blue);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.11111;
  color: var(--primary-color-gray-light);
}
