.filterTitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: #8a8a89;
  margin-bottom: 8px;
}

.noResultsText {
  text-align: center;
}

.nanniesList {
  margin-bottom: 64px;
}

.nanniesItem:not(:last-child) {
  margin-bottom: 32px;
}
