@import 'node_modules/modern-normalize/modern-normalize.css';

@font-face {
  font-family: 'Helvetica Neue';
  src: url('./fonts/HelveticaNeueCyr-Roman.woff2') format('woff2'),
    url('./fonts/HelveticaNeueCyr-Roman.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('./fonts/HelveticaNeueCyr-Medium.woff2') format('woff2'),
    url('./fonts/HelveticaNeueCyr-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('./fonts/HelveticaNeueCyr-Bold.woff2') format('woff2'),
    url('./fonts/HelveticaNeueCyr-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

:root {
  /* Colors */
  --primary-color-black: #11101c;
  --primary-color-gray: rgba(17, 16, 28, 0.5);
  --primary-color-gray-dark: #f3f3f3;
  --primary-color-gray-light: #fbfbfb;
  --primary-color-blue: #0957c3;
  --primary-color-white: #ffffff;

  --secondary-color-blue: rgba(9, 87, 195, 0.2);
  --secondary-color-red: #ef5050;

  --accent-color-green: #38cd3e;
  --accent-color-pink: rgba(240, 63, 59, 0.2);

  /* Transition */
  --primary-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scroll-behavior: smooth;
}

body {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1.25;
  background-color: var(--primary-color-gray-light);
  color: var(--primary-color-gray);
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}
