.makeAppForm {
  position: relative;
}

.formTitle {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: var(--primary-color-black);
}

.formDescription {
  margin-bottom: 40px;
}

.nannieInfoContainer {
  display: flex;
  gap: 14px;
  margin-bottom: 40px;
}

.nannieAvatarWrapper {
  border-radius: 15px;
  width: 44px;
  height: 44px;
  overflow: hidden;
}

.nannieNameWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.nannieTitle {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33333;
  color: #8a8a89;
}

.nannieName {
  font-weight: 500;
  line-height: 1.5;
  color: var(--primary-color-black);
}

.halfInputWrapper {
  display: flex;
  flex-wrap: wrap;
  row-gap: 16px;
  column-gap: 8px;
  margin-bottom: 16px;
}

.makeAppFormInput.halfInput {
  width: calc((100% - 8px) / 2);
}

.makeAppFormInput.wholeInput {
  width: 100%;
  margin-bottom: 16px;
}

textarea {
  margin-bottom: 40px;
  display: block;
  outline: transparent;
  background-color: transparent;
  border: 1px solid rgba(17, 16, 28, 0.1);
  border-radius: 12px;
  padding: 16px 18px;
  color: var(--primary-color-black);
  resize: none;
  height: 116px;
  overflow: hidden;
}

textarea::placeholder {
  color: var(--primary-color-black);
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.errorMessageAddress,
.errorMessageTel,
.errorMessageAge,
.errorMessageTime,
.errorMessageEmail,
.errorMessageName,
.errorMessageComment {
  color: var(--secondary-color-red);
  position: absolute;
  font-size: 12px;
}

.errorMessageAddress {
  top: 377px;
}

.errorMessageTel {
  top: 377px;
  left: 240px;
  width: 232px;
}

.errorMessageAge {
  top: 445px;
  max-width: 232px;
  overflow: hidden;
}

.errorMessageTime {
  top: 445px;
  left: 240px;
}

.errorMessageEmail {
  top: 513px;
}

.errorMessageName {
  top: 580px;
}

.errorMessageComment {
  top: 710px;
}
