.homePageContainer {
  max-width: 1367px;
  padding-left: 96px;
  padding-right: 96px;
  background-image: url(../../assets/images/hero.png);
  background-repeat: no-repeat;
  background-position: right bottom;
}

@media screen and (min-width: 768px) {
  .homePageContainer {
    max-width: 695px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .homePageContainer {
    max-width: 1367px;
    padding-left: 96px;
    padding-right: 96px;
  }
}
