.homePageContainer {
  position: relative;
  border-radius: 30px;
  width: 100%;
  background-color: #0957c3;
  background-image: url('../../assets/images/hero.png');
  background-repeat: no-repeat;
  background-size: 50% 100%;
  background-position: right center;
  height: 736px;
}

.homePageTitleWrapper {
  padding-left: 96px;
  padding-top: 251px;
  max-width: 517px;
  color: var(--primary-color-gray-light);
}

.homePageTitle {
  font-weight: 500;
  font-size: 70px;
  line-height: 1;
  letter-spacing: -0.03em;
  margin-bottom: 28px;
}

.homePageText {
  font-size: 28px;
  line-height: 1.07143;
  letter-spacing: -0.02em;
  margin-bottom: 64px;
}
